
    .form-control:focus{
        border-color: grey;
       box-shadow: 0.0 0 0 0.1rem grey;
    }
    .pagination > li > a
    {
        background-color: white;
        color: grey;
    }
    
    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: grey;
        background-color: grey;
        border-color: grey;
    }
    
    .pagination > .active > a
    {
        color: white;
        background-color: grey !Important;
        border: solid 1px grey !Important;
    }
    
    .pagination > .active > a:hover
    {
        color: white;
        background-color: grey !Important;
        border: solid 1px grey !Important;
    }

    .dropdown-menu > li > a:active {
        color: #eee;
        background-color: grey !Important;
    
    }

    .d{
        background: #96b2aa;
    }

    .btn-secondary {
        background-color:#96b2aa;
        border-color: #96b2aa;
    }

    .btn-secondary:hover{
        background-color:#6d877f;
        border-color: #6d877f;
    }
    

    