
    .form-control:focus{
        border-color: #96b2aa;
       box-shadow: 0.0 0 0 0.1rem #96b2aa;
    }
    .pagination > li > a
    {
        background-color: white;
        color: #96b2aa;
    }
    
    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: #96b2aa;
        background-color: #96b2aa;
        border-color: #96b2aa;
    }
    
    .pagination > .active > a
    {
        color: white;
        background-color: #96b2aa !Important;
        border: solid 1px #96b2aa !Important;
    }
    
    .pagination > .active > a:hover
    {
        color: white;
        background-color: #96b2aa !Important;
        border: solid 1px #96b2aa !Important;
    }

    .dropdown-menu > li > a:active {
        color: #eee;
        background-color: #96b2aa !Important;
    
    }

    .d{
        background: #96b2aa;
    }

    .btn-secondary {
        background:#96b2aa;
        border-color: #96b2aa;
    }

    .btn-secondary:hover{
        background-color:#6d877f;
        border-color: #6d877f;
    }

    .btn-secondary:disabled,

    .btn-secondary[disabled]{
        background-color: #6d877f;
        border-color: #6d877f;
}

body {
    animation: fadeIn 0.5s linear;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }