{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<section class="text-center">
    <div class="row container-fluid ">
        <h1 class="text-uppercase mb-0">Logga in</h1>
    </div>

    <div class="input-group form-floating container-fluid pt-2 mx-auto w-25 ">
        <div class="col form-floating w-25 ">
            <input type="text" class="form-control-lg form-control rounded-3 " placeholder="Exempeltext" name="id-check">
            <label for="id-check">Användarnamn</label>
        </div>
    </div>
    <div class="input-group form-floating container-fluid pt-2 pb-1 mx-auto w-25 ">
        <div class="col form-floating w-25 ">
            <input type="text" class="form-control-lg form-control rounded-3 " placeholder="Exempeltext" name="id-check">
            <label for="id-check">Lösenord</label>
        </div>
    </div>   
    
    <div class="ps-2 pt-1">
        <button class="btn btn-secondary btn-lg">Logga in<i class="bi bi-check2"></i></button>
    </div>
</section>
{% endblock %}