{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<!--Rubrik-->
<section class="container container-fluid text-center">
    <div class="row">
        <div class="col"></div>
    <div class="col">
        <h1 class="h1">Admin</h1>
    </div>
    <div class="col">
        <button class="btn btn-secondary btn-lg rounded-3 rounded-circle" data-bs-toggle="modal" data-bs-target="#password-modal">
            <i class="bi bi-gear"></i>
        </button>

        <div class="modal fade" id="password-modal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Byt lösenord</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    <section class="mb-5 text-center">

                        <p>Välj ett nytt lösenord</p>
                      
                        <form action="#!">
                      
                          <div class="form-floating pb-3">
                            <input type="password" id="newPass" class="form-control" placeholder="Exempeltext">
                            <label data-error="wrong" data-success="right" for="newPass">Nytt lösenord</label>
                          </div>
                      
                          <div class="form-floating pb-3">
                            <input type="password" id="newPassConfirm" class="form-control" placeholder="Exempeltext">
                            <label data-error="wrong" data-success="right" for="newPassConfirm">Upprepa nytt lösenord</label>
                          </div>
                      
                          <button type="submit" class="btn btn-primary mb-4">Byt lösenord</button>
                      
                        </form>
                      
                    
                      </section>
</section>

<!--Knappar för samtliga funktioner-->
<section class="container-fluid text-center">
    
    <div class="container mt-5">
        <p>Ladda ner fullständig sammanställning</p>
        <button class="btn btn-secondary btn-lg"> Ladda ner </button>
        <div class="modal fade"></div>
    </div>
    </div>


    <div class="container mt-5">
        <p>Ladda ner enskild rapoprt</p>
        <button class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#search-modal"> Sök rapport </button>
    </div>

    <!--Popup window för söka efter specifik rapport-->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Sök efter enskild rapport</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="bi bi-search"></i>
                    </span>
                  </div>
            </div>
      

    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
