{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<!--Rubrik-->
<section class="container container-fluid text-center">
    <div class="row">
        <div class="col"></div>
    <div class="col">
        <h1 class="h1">Admin</h1>
    </div>


<div class="col">
    <div class="dropdown">
        <button type="button" class="btn btn-secondary rounded-circle " data-bs-toggle="dropdown">
            <i class="bi bi-gear-fill"></i>
          </button>
          <ul class="dropdown-menu rounded-3 ">
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#password-modal">Byt lösenord</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#add-user">Lägg till användare</a></li>
          </ul>
    </div>
        </div>
        <!--Modal för byta lösenord-->
        <div class="modal fade" id="password-modal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Byt lösenord</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    <section class="mb-5 text-center">

                        <p>Välj ett nytt lösenord</p>
                      
                        <form action="#!">
                      
                          <div class="form-floating pb-3">
                            <input type="password" id="newPass" class="form-control" placeholder="Exempeltext">
                            <label data-error="wrong" data-success="right" for="newPass">Nytt lösenord</label>
                          </div>
                      
                          <div class="form-floating pb-3">
                            <input type="password" id="newPassConfirm" class="form-control" placeholder="Exempeltext">
                            <label data-error="wrong" data-success="right" for="newPassConfirm">Upprepa nytt lösenord</label>
                          </div>
                      
                          <button type="submit" class="btn btn-secondary mb-4">Byt lösenord</button>
                      
                        </form>
                      </section>
                </div>
</section>

<!--Knappar för samtliga funktioner-->
<section class="container-fluid text-center">

  <div class=" container mt-5 dropdown text-center">
    <p class="h5 mb-2">Ladda ner fullständig rapport</p>
    <button type="button" class="btn btn-secondary rounded-pill  btn-lg col-lg-3 " data-bs-toggle="dropdown">
       Välj branch
      </button>
      <ul class="dropdown-menu rounded-3 " id="dropdown-branch">
        <li><a class="dropdown-item" >Resturang</a></li>
        <li><a class="dropdown-item" >Hotell</a></li>
        <li><a class="dropdown-item" >Byrå</a></li>
        <li><a class="dropdown-item" >Anläggning</a></li>
      </ul>
</div>
    
  <form method = "post">
    <div class="container mt-5">
        <p class="h5 mb-2">Ladda ner fullständig sammanställning</p>
        <button class="btn btn-secondary btn-lg col-lg-3 rounded-pill" name="viewForm" value="viewForm"> Ladda ner </button>
        <div class="modal fade"></div>
    </div>
  </form>
    </div>
 
  


    <div class="container mt-3 ">
        <p class="h5 mb-2">Ladda ner enskild rapport</p>
        <button class="btn btn-secondary btn-lg col-lg-3 rounded-pill" data-bs-toggle="modal" data-bs-target="#search-modal"> Sök rapport </button>
    </div>

    <div class="container mt-5">
      <form action="" method="post">
        <button type="submit" name="submit" value="logOut" class="btn btn-secondary col-lg-3 btn-lg rounded-pill">Logga ut</button>
      </form>
    </div>

     <!--Modal för söka efter specifik rapport-->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Sök efter enskild rapport</h4>
              <button type="btn" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body  sökfält-->
            <div class="modal-body">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                    <button class=" btn btn-secondary border-0 " id="search">
                      <i class="bi bi-search"></i>
                    </span>
                  </div>
            </div>
        </div>
      </div>
    </div>

    <!--Modal för Lägga till användare-->
    <div class="modal fade" id="add-user">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Lägg till användare</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
              <section class="mb-5 text-center">
                  <form method="post">
                    <div class="form-group">
                      <label for="InputEmail">Användarens email</label>
                      <input type="text" name="adress" class="form-control mt-2" id="InputEmail" aria-describedby="emailHelp" placeholder="Email">
                      <label for="InputName">Användarens namn</label>
                      <input type="text" name="name" class="form-control mt-2" id="InputEmail" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <!--Radio buttons for den nya användarens branch -->
                    <select name="branch" class="form-select mt-2">
                      <option selected>Branch</option>
                      <option value="Hotell">Hotell</option>
                      <option value="Restaurang">Restaurang</option>
                      <option value="Anläggning">Anläggningar</option>
                      <option value="Byrå">Byrå</option>
                    </select>
                    <button type="submit" name="submit" value="addUser" class="btn btn-secondary mt-2 rounded-pill" >Lägg till</button>
                  </form>
                </section>
          </div>
</section>

<script src="{{url_for('static', filename='js/common.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
