{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<section class="text-center container-fluid align-items-center">
    <h1 class="text-uppercase">Fråga {{ page }}</h1>
</section>

<section class="text-center h-100 ">
    <!--Fråga 1-->
    <div class="container-fluid pt-3">
        <p>
            {{ questionObject[page-1][2] }}
        </p>

        {% block question %}{% endblock %}


<!--Lista över frågor-->    
<footer class="container-fluid mt-5 "> 
    <div class="row">
    <ul class="pagination justify-content-center flex-wrap" id="totalPages">
        <button disabled id="back" onclick="back()" class="ms-2 me-2 btn btn-secondary rounded-3"><i class="bi bi-arrow-left"></i></button>
        {% for question in questionObject %}
        {% if page == loop.index %}
        <li class="page-item active"><a class="page-link" >{{ loop.index }}</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" >{{ loop.index }}</a></li>
        {% endif %}
        {% endfor %}
        <button id="forward" onclick="forward()" class="ms-2 me-2 btn btn-secondary rounded-3"><i class="bi bi-arrow-right"></i></button>
      </ul>
    </div>

</footer>

<script src="{{url_for('static', filename='js/script-question.js')}}"></script>

{% endblock %}