{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

     <!--Rubrik-->
     <section class="text-center container-fluid align-items-center">
            <h1 class="text-uppercase">Fråga 2 - del 1</h1>
    </section>

    <!--Frågor och knapp-->
    <section class="text-center h-75">
            <!--Fråga 1-->
            <div class="container-fluid pt-3">
                <p>
                    Hur många hotell har du, ha??
                </p>
                <div class="form-check-inline pb-3">
                    <input type="number" min="0" pattern="[0-9]" class="form-control-lg form-control rounded-3 " placeholder="Antal">
                </div>

    <!--Knapp-->
            <div class="container-fluid pt-5 " id="btn1">
                <a href="question2-2" class="btn btn-secondary btn-lg">Nästa
                    <i class="bi bi-arrow-right"></i> 
                </a>
            </div>
    </section>



<!--Lista över frågor samt tillbaka knapp-->    
<footer class="container-fluid pt-5 w-50 mt-auto ">
        <div class="row">
            <div class="col-4">
                <a href="question1" class="btn btn-secondary rounded"><i class="bi bi-arrow-left"></i></a>
            </div>
            
            <div class="col-4">
                <ul class="pagination float-none justify-content-center">
                    <li class="page-item disabled"><a class="page-link" ><i class="bi bi-check"></i></a></li>
                    <li class="page-item active"><a class="page-link">2</a></li>
                    <li class="page-item disabled"><a class="page-link" >3</a></li>
                    <li class="page-item disabled"><a class="page-link">4</a></li>
                  </ul>
            </div>
        </div>        
    </footer>

{% endblock %}