{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
     <!--Rubrik-->
     <section class="text-center container-fluid align-items-center">
            <h1 class="text-uppercase">Fråga 1</h1>
    </section>

    <!--Input och knapp-->
    <section class="text-center h-100 ">
        <!--Fråga 1-->
        <div class="container-fluid pt-3">
            <p>
                Har ni Certifikat?
            </p>
            <div class="form-check-inline pb-3">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="yes">
                    <label class="form-check-label" for="radio1"> Ja</label>

                    <input type="radio" class="form-check-input" id="radio2" name="optradio" >
                    <label class="form-check-label" for="radio2"> Nej</label>
            </div>


        <!--Välj Certifikat-->
        <p class="pt-3">
            Isåfall vilket?
        </p>

        <!--Form för val av olika förbestämda certifikat-->
        <div class="container-fluid w-25">
                <select id="answer" disabled
                  class="form-select rounded-3" onchange="getSelectedValue()" >
                    <option value = "" disabled selected hidden>Välj certifikat</option>
                    <option value ="1">Certifikat 1</option>
                    <option value ="2">Certifikat 2</option>
                    <option value ="3">Certifikat 3</option>
                    <option value ="4">Certifikat 4</option>
                  </select>
            </div>

            


            <!--Knapp-->
             <!--nextQuest() länkar till 2-2 just nu-->
            <div class="container-fluid pt-5 mt-5" id="btn1">
                    
                
            </div>
            <button disabled id="next" onclick="nextQuest()" class="btn btn-secondary btn-lg">
                Nästa<i class="bi bi-arrow-right"></i> 
            </button>
    </section>

    <!--Lista över frågor-->    
    <footer class="container-fluid pt-5 w-50">
        <ul class="pagination justify-content-center">
            <li class="page-item active"><a class="page-link" >1</a></li>
            <li class="page-item disabled"><a class="page-link">2</a></li>
            <li class="page-item disabled"><a class="page-link">3</a></li>
            <li class="page-item disabled"><a class="page-link">4</a></li>
          </ul>
    </footer>

    <script src="/static/js/script-question.js"></script>
  

{% endblock %}