{% extends 'question-base.html' %}

{% block question %}
{% if questionType == 1 %}
<div class="form-check-inline pb-3" id="fade1">
    <input type="number" min="0" pattern="[0-9]" class="form-control-lg ms-2 form-control rounded-3 " placeholder="Antal">
    <button type="submit" onclick="nextQuest(this, {{ answerOptions[0].NextQuestion }})" class="btn mt-2 ms-2 btn-secondary col-lg-6 rounded">Nästa </button>
</div> 
{% else %}
<!--Templet för nästan alla frågor-->
<div class="list-group container-fluid col-sm-6 col-lg-2 pb-3 " id="fade2">
  {% for answer in answerOptions %}
    <button type="submit" onclick="nextQuest(this, {{ answer.NextQuestion }})" class="list-group-item ms-2 mb-2  btn-secondary rounded-pill" name="{{ questionID }}" value="{{ answer }}">{{ answer }}</button>
  {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}