{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<section class="text-center h-100 ">
    <!--Fråga Text-->
    <div class="container-fluid justify-content-center mt-3 mb-5">
        <p class="h4">
            {{ page }} . {{ questionObject[page-1][2] }}
        </p>
    </div>
        {% block question %}{% endblock %}


<!--Paginator med frågor-->    
<footer class="container-fluid mt-5 "> 
    <div class="row">
    <ul class="pagination justify-content-center flex-wrap" id="totalPages">
        <li disabled id="back" onclick="back()" class="page-item"><a class="page-link">Tillbaka</a>
        {% for question in questionObject %}
        {% if page == loop.index %}
        <li class="page-item active"><a class="page-link" >{{ loop.index }}</a></li>
        {% elif page > loop.index %}
        <li class="page-item disabled"><a class="page-link" ><i class="bi bi-check"></i></a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" >{{ loop.index }}</a></li>
        {% endif %}
        {% endfor %}
        <li id="forward" onclick="forward()" class="page-item"><a class="page-link">Nästa</a>
      </ul>
    </div>

</footer>

<script src="{{url_for('static', filename='js/script-question.js')}}"></script>

{% endblock %}