{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<section class="text-center">
    <div class="container-fluid">
        <h1 class="text-uppercase mb-0">Sustainable Form</h1>
    </div>

    <div class="container-fluid pt-5">
        <div class="form-check-inline w-50 form-floating pb-3">
            <input type="text" class="form-control-lg form-control rounded-3 "  placeholder="Exempeltext" name="id-check">
            <label for="id-check"><h6>Identifieringskod:</h6></label>
        </div>
            <div class="container-fluid pt-3">
                <a href="/templates/question1.html" class="btn btn-secondary btn-lg">
                    Verifiera <i class="bi bi-check2"></i>

                </a>
            </div>
           
    </div>
</section>

<!--Information sektion-->
<section class="text-center pt-5" id="info-section">
<div class="container-fluid btn-light pt-5">
    <h2 class="text-uppercase mb-0">Information om detta formulär</h2>

    <p class="container-fluid align-items-center w-75 pt-5 ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Fringilla phasellus faucibus scelerisque eleifend donec.
        In vitae turpis massa sed elementum tempus egestas sed. Elit sed vulputate mi sit amet mauris commodo quis 
        imperdiet. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Lobortis scelerisque fermentum
        dui faucibus. Dignissim cras tincidunt lobortis feugiat vivamus. Metus dictum at tempor commodo ullamcorper 
        a lacus vestibulum. Bibendum at varius vel pharetra vel turpis nunc eget. Magna etiam tempor orci eu lobortis 
        elementum nibh. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Molestie a iaculis at 
        erat pellentesque adipiscing commodo elit at. At volutpat diam ut venenatis.

        Aliquet bibendum enim facilisis gravida. Elementum curabitur vitae nunc sed velit. Tristique senectus 
        et netus et malesuada fames ac turpis. Id consectetur purus ut faucibus pulvinar. Nibh mauris cursus 
        mattis molestie a iaculis at erat pellentesque. Ullamcorper malesuada proin libero nunc consequat interdum. 
        Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Elementum curabitur vitae nunc sed velit 
        dignissim sodales. In tellus integer feugiat scelerisque varius. Semper auctor neque vitae tempus quam pellentesque 
        nec nam. Eu ultrices vitae auctor eu augue ut lectus arcu bibendum. Adipiscing elit ut aliquam purus sit amet. Morbi 
        tristique senectus et netus et malesuada fames. Velit egestas dui id ornare arcu odio ut. Elit at imperdiet dui accumsan s
        it amet. Aliquam ut porttitor leo a diam. Id leo in vitae turpis massa sed elementum tempus. Eu non diam phasellus 
        vestibulum lorem sed risus. Elit at imperdiet dui accumsan sit amet. Adipiscing tristique risus nec feugiat.
    </p>
</div>

</section>





</section>
{% endblock %}