{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

        <!--Rubrik och input-->
        <section class="text-center">
                <div class="container-fluid pt-3">
                    <h1 class="text-uppercase mb-0">Tack för att du <br> slutförde formuläret</h1>
                </div>

                <div class="container-fluid pt-5">
                    <section class="text-center">
                        <div class="container-fluid pt-5 " id="btn1">
                            <a href="/last" class="btn btn-secondary btn-lg">
                                Skicka in <i class="bi bi-check2"></i>

                            </a>
                        </div>
                </section>
                       
                </div>
        </section>

        <footer class="container-fluid pt-5 w-50 fixed-bottom mb-5 pb-5">
            <div class="row">
                <div class="col-4">
                    <a href="question2-2" class="btn btn-secondary rounded"><i class="bi bi-arrow-left"></i></a>
                </div>
                
                <div class="col-4">
                    <ul class="pagination float-none justify-content-center">
                        <li class="page-item disabled"><a class="page-link" ><i class="bi bi-check"></i></a></li>
                        <li class="page-item disabled"><a class="page-link"><i class="bi bi-check"></i></a></li>
                        <li class="page-item disabled"><a class="page-link"><i class="bi bi-check"></i></a></li>
                        <li class="page-item active"><a class="page-link">4</a></li>
                      </ul>
                </div>
            </div>
    
            
        </footer>

       {% endblock %}