
  html, body {
      height: 100%;
      margin: 0px;
  }

.bg-1 {
background-color: #ffffff; /* Green */
color: #000000;
}

.bg-2 {
background-color: #E5E4E2; /* Dark Blue */
color: #000000;

}
.container-fluid{
height: 60%;
}
.container-fluid2{
height: 40%;
}

.container-fluid3{
height: 5%;
}

.bold{
padding: 100px;

}
.inputDiv{

  padding: 10px;



}

.btn-round {
width: 100px;
height: 50px;
border-radius: 15px;
text-align: center;

}
